@model List<StateModel>
@{
    ViewData["Title"] = " Estados";
}
<div class="card">
    <div class="card-header">
        Estados
    </div>
    <div class="card-body">

        <a asp-action="StateAdd" asp-controller="State" class="btn btn-success btn-sm"></a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.staId</td>
                        <td>@item.staName</td>
                        <td>
                            <a asp-action="StateUp" asp-controller="State" class="btn btn-primary btn-sm" asp-route-Id="@item.staId">Editar</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                <a asp-action="StateList" asp-controller="State" class="btn btn-warning btn-sm">Actualizar</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="EditorialList" asp-controller="Home" class="btn btn-warning btn-sm">Pagos</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="LibroList" asp-controller="Home" class="btn btn-warning btn-sm">Usuarios</a>


            </tbody>
        </table>
    </div>

</div>