@model List<EnterpriseModel>
@{
    ViewData["Title"] = "Empresas";
}
<div class="card">
    <div class="card-header">
        Empresas
    </div>
    <div class="card-body">

        <a asp-action="EnterpriseAdd" asp-controller="Enterprise" class="btn btn-success btn-sm">Crear Nueva Empresa Facturadora</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Empresa</th>
                    <th>Tipo Empresa</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.entId</td>
                        <td>@item.entName</td>
                        <td>@item.etyId</td>
                        <td>
                            <a asp-action="EnterpriseUp" asp-controller="Enterprise" class="btn btn-primary btn-sm" asp-route-Id="@item.entId">Editar</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                <a asp-action="EnterpriseList" asp-controller="Enterprise" class="btn btn-warning btn-sm">Actualizar</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="EditorialList" asp-controller="Home" class="btn btn-warning btn-sm">Pagos</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="LibroList" asp-controller="Home" class="btn btn-warning btn-sm">Usuarios</a>


            </tbody>
        </table>
    </div>

</div>