@{
    ViewData["Title"] = "Home Page";
}

<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

<div>
    <header class="header1">

    </header>
    <br>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="/images/LogoPayBill.png" alt="Imagen" width="60%" style="margin-right: 70px;">
    </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <div class="text-center">

        <a asp-action="BillList" asp-controller="Bill" class="btn btn-warning btn-sm">Facturas</a>
        <a asp-action="Login" asp-controller="Home" class=" btn btn-primary w-100 py-2" style="background-color:#4d8936">Ingresar</a>

    </div>
</div>