@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Gestion de Facturas</h1>
    <a asp-action="BillList" asp-controller="Bill" class="btn btn-warning btn-sm">Facturas</a>
</div>
