@{
    ViewData["Title"] = "Home Page";
}

<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

<div>
    <header class="header1">
    </header>
    <br>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="/images/LogoPayBill.png" alt="Imagen" width="60%" style="margin-right: 70px;">
        <main class="form-signin w-100 m-auto" style="max-width: 350px; margin-left: auto; text-align:center;">
            <form>

                <h2 class="h3 mb-3 fw-normal">Recuperar Usuario y Contraseña</h2>

                <div class="form-floating">
                    <input type="id" class="form-control" id="floatingInput" placeholder="id">
                    <label for="floatingInput">Número de Identificación</label>
                </div>
                <br>
                <button class="btn btn-primary w-100 py-2" type="submit" style="background-color:#4d8936">Recuperar Cuenta</button>
                <br>
                <a asp-action="Registro" asp-controller="Home">Registrarse</a>

            </form>
        </main>
        <style>
            header{

            }
        </style>
    </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

